*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# intellj project files with user specific settings (https://intellij-support.jetbrains.com/hc/en-us/articles/206827587-How-to-manage-projects-under-Version-Control-Systems)
java/.idea/workspace.xml
java/.idea/tasks.xml
.metadata/
.recommenders/
RemoteSystemsTempFiles/